<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <!-- Inline CSS USED to make text in center  and also the Photo in the center using flexbox
     justify content center actually make it center, align items center make all the items inside a div or class aligned in a same label centered like we used in navbar -->
    <h1 style="text-align: center;">Abe Kiya Kar Raha Hain Tu!</h1>

    <div style="display:flex;  justify-content:center; align-items:center;">
        <img src="/photos/DOGLAPAN.jpeg" alt="no internet!">
    </div>


</body>

</html>